/*FONT FACE*/
@font-face {
    font-family: 'champagne et limousine';
    src: url('../fonts/champagne/Champagne%20%26%20Limousines.ttf');
}

@font-face {
    font-family: 'bebas neue';
    src: url('../fonts/bebas/BebasNeue.otf');
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */




/* NAVBAR */

nav{
  font-family: "bebas neue";
}

.navbar-brand i{
  color: #80BDBB;
}


/* BODY */

body{
  background-color: #D8D8D8;
  font-size: 20px;
  font-family: "open_sanssemibold", "Comic Sans";
  min-height: 100%;
}

.container{
  margin-top: 3%;
  width: 90%;
  background-color: white;
}

body p{
  font-size: 1.2em;
}

body h1{
  color: #80BDBB;
  text-align: center;
}

body h2{
  font-size: 1.4em;
  text-align: center;
}

body h3{
  color: #80BDBB;
}

.main-title strong{
  font-size: 1.5em;
  font-family: "bebas neue";
}

/*INDEX */



/* PROJECT */

  .projects-main .main{
    background-color: #82BDBB;
  }

  .projects-main h1 strong{
    color: white
  }

  .container form{
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .container form input{
    margin-top: 1%;
    width: 200px;
  }

  div.projects h2{
    margin-top: 3%;
  }

  .blockform{
    margin-bottom: 5%;
  }

  .blockform div textarea{
    width: 100%;
  }

  form h2{
    margin-bottom: 5%;
  }

  .submit{
    background-color: #80BDBB;
    color: white;
    border-radius: 20px;
  }

  div.centerit{
    text-align: center;
    margin-bottom: 2%;
  }

  div.centerit input{
    margin-right: 5%;
  }

  input.submit{
    margin-left: 44%;
  }

  div form h3{
    text-align: center;
  }

  div form h3 input{
    margin-left: 20%;
  }

  input.pilote{
    margin-left: 15%;
  }

  form input.radiocheck{
    width: 20px;
  }

  .mainotation{
    margin-left: 10%
  }

  div.mainotation img{
    width: 20px;
  }

  div.notation img{
    width:20px;
  }

  .motivation{
    margin-top: 8%;
    text-align: center;
    margin-left: 25%;
  }

  input[type='radio']{
    background-color:black;
    color:black;
  }

  /* MOBILE */

  @media (max-width:700px){
    .container{
      width: 100%;
    }
    .proXP button{
      margin-top: 10%;
      margin-left: 30%;
    }
    .cv a{
      margin-left: 5%;
    }
    .interests{
      margin-left: 5%;
    }
    .container form{
      margin-left: 20%;
    }
    input.submit{
      margin-left: 0%;
    }
    .mainotation{
      margin-left: 0%;
    }
  }
