/*FONT FACE*/
@font-face {
    font-family: 'champagne et limousine';
    src: url('../fonts/champagne/Champagne%20%26%20Limousines.ttf');
}

@font-face {
    font-family: 'bebas neue';
    src: url('../fonts/bebas/BebasNeue.otf');
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Lust";
	src: url("../fonts/Lust_Rg/Lust-Rg.eot");
	src: url("../fonts/Lust_Rg/Lust-Rg.eot#iefix") format("embedded-opentype"),
	url("../fonts/Lust_Rg/Lust-Rg.woff") format("woff"),
  url("../fonts/Lust_Rg/Lust-Rg.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}


/* GENERAL */




/* NAVBAR */

nav{
  font-family: "bebas neue";
}

.navbar-brand i{
  color: #80BDBB;
}


/* BODY */

body{
  background-color: #dedede;
  font-size: 20px;
  font-family: "open_sanssemibold", "Comic Sans";
  min-height: 100%;
  padding: 0px;
}

.container{
  margin-top: 3%;
  width: 100%;
  background-color: white;
  padding: 0px;
}

  div.container.projects-main{
    background-color: #dedede;
  }

body p{
  font-size: 1.2em;
}

body h1{
  color: #80BDBB;
  text-align: center;
}

body h2{
  font-size: 1.4em;
  text-align: center;
}

body h3{
  color: #80BDBB;
}

.main-title strong{
  font-size: 1.5em;
  font-family: "bebas neue";
}

/*INDEX */

/*FICHE*/

div.col-md-6.validate{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

/* PROJECT */

  input{
    padding:10px;
  }

  textarea{
    padding: 10px;
  }

  select{
    padding: 10px;
    color: #82BDBB;
  }

  input::-webkit-input-placeholder{
    color: #82BDBB;
  }

  input:-moz-placeholder{
    color: #82BDBB;
  }

  input:focus{
    outline: none !important;
    border-color:#82BDBB;
    box-shadow: 0 0 10px #719ECE;
  }

  textarea::-webkit-input-placeholder{
    color: #82BDBB;
  }

  textarea:-moz-placeholder{
    color: #82BDBB;
  }

  textarea:focus{
    outline: none !important;
    border: 1px solid #82BDBB;
    box-shadow: 0 0 10px #719ECE;
  }

  select::-webkit-input-placeholder{
    color: #82BDBB;
  }

  select:-moz-placeholder{
    color: #82BDBB;
  }

  .brandlogo{
    position: relative;
    left:95px;
    height:150px;
  }

  .projects-main{
    background-color: #dedede;
  }

  .projects-main .main{
    background-color: #82BDBB;
  }

  .main h2{
    color: white;
  }

  .projects-main h1{
    color:white;
  }

  .projects-main h1 strong{
    color: white;
    font-family: 'Lust';
  }

  .container form{
    margin-top: 5%;
    margin-bottom: 10%;
  }

  div.col-md-12{
    padding:0px;
  }

  .projects form h2{
    color: #82BDBB;
  }

  .container form input{
    margin-top: 1%;
    width: 200px;
    margin-right: 4%;
  }

  .blockform{
    margin-bottom: 5%;
  }

  .blockform div textarea{
    width: 100%;
  }

  form{
    background-color: #e6e6e6;
  }

  form h2{
    margin-bottom: 5%;
  }

  .submit{
    background-color: #80BDBB;
    color: white;
  }

  div.centerit{
    text-align: center;
    margin-bottom: 2%;
    background-color: #dedede;
  }

  div.centerit input{
    margin-top: -2%;
    margin-bottom: 4%;
  }

  div.entity{
    margin-top: 3%;
  }

  div.block{
    margin-top: 3%;
  }

  div.priority{
    margin-top: 4%;
  }

  input.submit{
    margin-left: 44%;
  }

  div form h3{
    text-align: center;
  }

  div form h3 input{
    margin-left: 20%;
  }

  div.pilote{
    text-align: center;
  }

  .pilote select{
    width:60%;
  }

  form input.radiocheck{
    width: 20px;
  }

  .mainotation{
    margin-left: 10%
  }

  .mainnotation input[type="radio"]{
    display: none;
  }

  div.mainotation img{
    width: 20px;
  }

  div.notation img{
    width:20px;
  }

  .motivation{
    margin-top: 8%;
    text-align: center;
    margin-left: 25%;
  }

  div.notationgrade{
    margin-top: 15%;
  }

  .part1 h2{
    padding-top: 11%;
  }

  .part2{
    background-color: #ececec;
  }

  .part2 h2{
    margin:0;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .part3{
    margin:0;
    background-color: #f5f5f5;
  }

  .part3 h2{
    margin:0;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .part4{
    margin:0;
    background-color: #fdfdfd;
  }

  .part4 h2{
    margin:0;
    padding-bottom: 4%;
    padding-top: 5%;
  }

  .part5{
    background-color: #fdfdfd;
    padding-top: 5%;
  }

  div.col-md-12.part5{
    margin-top: -5%;
    padding-bottom: 12%;
    padding-top: 5%;
  }

  /* MOBILE */

  @media (max-width:700px){
    .container{
      width: 100%;
    }
    .proXP button{
      margin-top: 10%;
      margin-left: 30%;
    }
    .cv a{
      margin-left: 5%;
    }
    .interests{
      margin-left: 5%;
    }
    .container form{
      margin-left: 20%;
    }
    input.submit{
      margin-left: 0%;
    }
    .mainotation{
      margin-left: 0%;
    }
  }
